<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Spurty was built by <a target="_blank" href="https://github.com/PYLiao">PYLiao</a>. A Taiwanese who is trying to learn technical skill in the US.
	</p>
	<br />
	<p>
		Following the course the site gradually comes out, however still got lots of confusion. Hope one day can become a master web developer.
	</p>
	<p>
		Wanna know where I learn coding? -start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>
	</p>


	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'IMG_8063.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Po-Yang Liao</h2>
		<b />
		<p>
			Po-Yang Liao is a graphic desiner, carpenter, and business person in publishing industry. 
		</p>
	</div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />
