
@font-face {
  font-family: 'NotSoStoutDeco';
  src: url('NotSoStoutDeco.eot?#iefix') format('embedded-opentype'),  url('NotSoStoutDeco.woff') format('woff'), url('NotSoStoutDeco.ttf')  format('truetype'), url('NotSoStoutDeco.svg#NotSoStoutDeco') format('svg');
  font-weight: normal;
  font-style: normal;
}
