@font-face {
  font-family: 'NotSoStoutDeco';
  src: url('/assets/NotSoStoutDeco.eot?#iefix') format('embedded-opentype'),  url('/assets/NotSoStoutDeco.woff') format('woff'), url('/assets/NotSoStoutDeco.ttf')  format('truetype'), url('/assets/NotSoStoutDeco.svg#NotSoStoutDeco') format('svg');
  font-weight: normal;
  font-style: normal;
}
